extends /extends/layout
block variables
	- var title = "Gulp Pro Starter Template";
	- var description = "Gulp Pro Starter Template";
block nav
	include /sections/nav
block content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit odio in illo commodi, error dolor dignissimos molestiae. Sapiente, perferendis nostrum, saepe fugiat totam quis ratione vero, illo nisi sunt recusandae! Cum enim ipsam, quas, eum odit dignissimos ad soluta, quaerat, reprehenderit maiores tempore. Pariatur aliquam aperiam iusto quis modi atque praesentium amet beatae possimus iste est, inventore ab libero nihil adipisci vel illo, nostrum minus nemo, harum laudantium! Odio quos voluptatibus culpa quas quo architecto harum optio, quisquam, minima, atque sunt tempora ducimus laborum. Inventore quia id sit placeat consequuntur minus, harum consequatur dicta velit adipisci suscipit minima laboriosam.
	include /sections/header