extends /extends/layout
block variables
	- var title = "Gulp Pro Starter Template";
	- var description = "Gulp Pro Starter Template";
block nav
	include /components/nav
block content
	include /components/header
	+b.SECTION.full#id-1
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quas.
		a.anchor(data-scroll href="#id-3") test
	+b.SECTION.full#id-2
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quas.
		a.anchor(data-scroll href="#id-2") test
	+b.SECTION.full#id-3
		a.anchor(data-scroll href="#id-1") test
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quas.