extends /extends/layout
block variables
	- var title = "Gulp Pro Starter Template";
	- var description = "Gulp Pro Starter Template - Description";
	- var url = "";
	- var image = "img/logo.png";

block nav
	include /components/nav
block content
	include /components/header

	section
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sit, dolor facilis qui modi explicabo cum corporis velit aspernatur distinctio fuga recusandae necessitatibus praesentium repellat doloremque illum non id. Cupiditate ipsa, repellat corporis, dignissimos 
		+b.BUTTON.btn(data-action="modal" data-open="#example-id") Open Modal
		+b.BUTTON.btn(data-action="modal" data-open="#example-id") Open Modal
		+b.BUTTON.btn(data-action="modal" data-open="#example-id") Open Modal
		p numquam maiores ducimus tempora minus aperiam! Alias voluptas nisi, eligendi porro in adipisci asperiores non nihil voluptatem ad provident deserunt impedit aliquam consequatur ipsum, neque explicabo doloremque dolore, dolorum ipsa nemo magni voluptate! Quidem, modi, cum. Placeat odit quam fuga veritatis non laboriosam voluptatibus labore aliquam quas animi distinctio, harum, fugiat possimus dolor, rem necessitatibus. Asperiores dolorum quisquam aliquid impedit cum, tenetur voluptatum illo eaque earum!

	
	+b.modal#example-id
		+e.box._default
			+e.header
				+e.P.title Modal title
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....