extends /extends/layout
block variables
	- var title = "Gulp Pro Starter Template";
	- var description = "Gulp Pro Starter Template";
block nav
	include /sections/nav
block content
	include /sections/header