//@include connect-font(ProximaRegular,regular);
//@include connect-font(ProximaLight,light);
//@include connect-font(ProximaBold,bold);
//@include connect-font(ProximaBlack,black);
.font-general{
	font-family: 'Roboto', sans-serif;
}
$font-weights: (
	'font-weight-regular' : 400,
	'font-weight-light'   : 300,
	'font-weight-bold'    : 700,
	'font-weight-heavy'   : 900
);

@each $name, $weight in $font-weights{
	.#{$name}{
		font-weight: $weight;
	}
}